@import 'imports/global';

/**
 * AUI Page Header
 */

.aui-page-header-inner {
    border-spacing: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    table-layout: auto;
    width: 100%;
}

.aui-page-header-image,
.aui-page-header-main,
.aui-page-header-actions {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: top;
}
/* collapse the cell to fit its content */
.aui-page-header-image {
    white-space: nowrap;
    width: 1px;
}
.aui-page-header-main {
    vertical-align: middle;
}
.aui-page-header-image + .aui-page-header-main {
    padding-left: @aui-grid;
}
.aui-page-header-actions {
    padding-left: (@aui-grid * 2);
    text-align: right;
    vertical-align: middle;
}
.aui-page-header-main > h1,
.aui-page-header-main > h2,
.aui-page-header-main > h3,
.aui-page-header-main > h4,
.aui-page-header-main > h5,
.aui-page-header-main > h6 {
    margin: 0;
}
.aui-page-header-actions > .aui-buttons {
    /* spaces out button groups when they wrap to 2 lines */
    margin: (@aui-grid / 2) 0;
    vertical-align: top;
    white-space: nowrap;
}
/* Avatar overrides */
.aui-page-header-image .aui-avatar {
    vertical-align: top;
}


/* Hero header */
.aui-page-header-hero .aui-page-header-main h1,
.aui-page-header-hero .aui-page-header-main h2 {
    font-size: @aui-page-header-hero-font-size;
    line-height: @aui-page-header-hero-line-height;
    margin-top: (@aui-grid * 4);
}
.aui-page-header-hero .aui-page-header-main p {
    font-size: @aui-page-header-hero-p-font-size;
    line-height: @aui-page-header-hero-p-line-height;
    margin-top: @aui-grid;
    padding-bottom: (@aui-grid * 4) + @aui-grid;
}

/* Marketing header */
.aui-page-header-marketing .aui-page-header-main h1,
.aui-page-header-marketing .aui-page-header-main h2 {
    color: @aui-page-header-marketing-bg-color;
    font-size: @aui-page-header-marketing-font-size;
    line-height: @aui-page-header-marketing-line-height;
    margin-top: (@aui-grid * 6);
}
.aui-page-header-marketing .aui-page-header-main p {
    font-size: @aui-page-header-marketing-text-font-size;
    color: @aui-page-header-marketing-text-color;
    line-height: @aui-page-header-marketing-text-line-height;
}

/* Hero & Marketing shared */
.aui-page-header-hero .aui-page-header-main h1 .aui-lozenge,
.aui-page-header-hero .aui-page-header-main h2 .aui-lozenge,
.aui-page-header-marketing .aui-page-header-main h1 .aui-lozenge,
.aui-page-header-marketing .aui-page-header-main h2 .aui-lozenge {
    margin: 0 0 0 @aui-grid;
    position: relative;
    top: -3px;
}
