@import 'imports/global';

/* AUI BUTTONS
 * Note hover/disabled styles set directly as they are not precisely the same as
 * if we used straight opacity.
 */

/* Basic Button Style */
.aui-button,
a.aui-button,
.aui-button:visited {
    #aui.gradient.vertical(@aui-button-default-bg-color-start, @aui-button-default-bg-color-end);
    #aui.box-sizing();
    border: @aui-button-border-width @aui-button-border-style @aui-button-default-border-color;
    border-radius: @aui-button-border-radius;
    color: @aui-button-default-text-color;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: @aui-button-font-size;
    font-variant: normal;
    font-weight: normal;
    height: @aui-button-height; /* 30px - using ems so the fields increase in line with user specified font-sizes */
    line-height: @aui-button-width;   /* 20px */
    margin: 0;
    padding: @aui-button-padding-y @aui-button-padding-x;
    text-decoration: none;
    text-shadow: @aui-button-text-shadow-x @aui-button-text-shadow-y @aui-button-text-shadow-blur @aui-button-default-text-shadow-color;
    vertical-align: baseline;
    white-space: nowrap;
}

.aui-button ~ .aui-button {
    margin-left: @aui-grid;
}

/* Ensure underlines not added by link styles */
a.aui-button:hover,
a.aui-button:active,
a.aui-button:focus {
    text-decoration: none;
}

/* Firefox doesn't add OS focus border if there is a button outline, so we add one ourselves */
form.aui .button:focus,
form.aui .cancel:focus,
.aui-button:focus {
    outline: 1px dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: 1px;
}

/* Control button height in Firefox. See http://www.experimentgarden.com/2010/11/firefox-buttontext-height-and-padding.html */
.aui-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.aui-button:focus,
.aui-button:hover,
.aui-button-subtle.aui-button:focus,
.aui-button-subtle.aui-button:hover {
    #aui.gradient.vertical(@aui-button-default-active-bg-color-start, @aui-button-default-active-bg-color-end);
    border-color: @aui-button-default-active-border-color;
    color: @aui-button-default-active-text-color;
    text-decoration: none;
    text-shadow: @aui-button-text-shadow-x @aui-button-text-shadow-y @aui-button-text-shadow-blur @aui-button-default-active-text-shadow-color;
}

.aui-button:active,
.aui-button.active,
.aui-header .aui-button-split-more.active,
.aui-button-subtle.aui-button:active,
.aui-button-subtle.aui-button.active {
    #aui.shadow.inner(inset @aui-button-active-inner-shadow-x @aui-button-active-inner-shadow-y @aui-button-active-inner-shadow-blur @aui-button-active-inner-shadow-spread @aui-button-active-inner-shadow-color);
    background-image: none;
    background-color: @aui-button-default-bg-color-end;
    text-shadow: none;
    text-decoration:none;
}

/* Primary Buttons */
.aui-button.aui-button-primary,
.aui-button.aui-button-primary:visited {
    #aui.gradient.vertical(@aui-button-primary-bg-color-start, @aui-button-primary-bg-color-end);
    border-color: @aui-button-primary-border-color;
    color: @aui-button-primary-text-color;
    font-weight: bold;
    -webkit-font-smoothing: antialiased; /* for chrome on mac */
    text-shadow: 0 1px 0 @aui-button-primary-text-shadow-color;
}

.aui-button.aui-button-primary:hover,
.aui-button.aui-button-primary:focus {
    #aui.gradient.vertical(@aui-button-primary-active-bg-color-start, @aui-button-primary-active-bg-color-end);
    border-color: @aui-button-primary-active-border-color;
    color: @aui-button-primary-active-text-color;
    text-shadow: 0 1px 0 @aui-button-primary-active-text-shadow-color;
}

.aui-button.aui-button-primary:active {
    #aui.shadow.inner(@aui-button-active-inner-shadow-x @aui-button-active-inner-shadow-y @aui-button-active-inner-shadow-blur @aui-button-active-inner-shadow-spread @aui-button-active-inner-shadow-color);
    background: @aui-button-primary-active-bg-color-end;
    background-image: none;
    background-color: @aui-button-primary-active-bg-color-end;
    text-shadow: none;
    text-decoration:none;
}

/* Link style buttons - used for destructive/cancel actions ONLY */
.aui-button.aui-button-link,
.aui-button.aui-button-link:visited  {
    background: transparent;
    border-color: transparent;
    color: @aui-link-color;
    padding: 5px 0;
    text-decoration: none;
    text-shadow: none;
    box-shadow: none;
}

.aui-button.aui-button-link:focus,
.aui-button.aui-button-link:hover,
.aui-button.aui-button-link:active,
.aui-buttons .aui-button.aui-button-link:focus,
.aui-buttons .aui-button.aui-button-link:hover,
.aui-buttons .aui-button.aui-button-link:active,
.aui-buttons .aui-button.aui-button-link[aria-pressed="true"] {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    text-decoration: underline;
}

/* Subtle/hybrid/entity action/mugger buttons */
.aui-button.aui-button-subtle {
    background: transparent;
    border-color: transparent;
    color: @aui-button-subtle-text-color;
}
.aui-buttons .aui-button.aui-button-subtle {
    border-radius: @aui-button-border-radius;
}
.aui-button.aui-button-subtle .aui-icon {
    margin-right: 1px;
}

/* when a button label is present next to an aui-icon (eg sidebar config) */
.aui-button {
    > .aui-icon {
        + .aui-button-label {
            margin-left: (@aui-grid / 2)-1;
        }
    }
}

/* Compact Buttons */
.aui-button.aui-button-compact {
    font-size: @aui-font-size-small;
    height: 2.16666666666667em; /* 26px with 12px font-size */
    padding: (@aui-button-padding-y / 2) (@aui-button-padding-x * .8);
    line-height: 1.66666666666667;
}

/* End Compact Buttons */

/* aui-buttons groups buttons together into one button lozenge. */
.aui-buttons {
    display: inline-block;
    font-size: 0;
}
.aui-buttons:after {
    clear: both;
    content: "";
    display: table;
}
.aui-buttons .aui-button {
    border-radius: 0;
    margin: 0;
}
.aui-buttons .aui-button:first-child {
    border-top-left-radius: @aui-button-border-radius;
    border-bottom-left-radius: @aui-button-border-radius;
}
.aui-buttons .aui-button:last-child {
    border-top-right-radius: @aui-button-border-radius;
    border-bottom-right-radius: @aui-button-border-radius;
}
.aui-buttons + .aui-buttons {
    margin-left: @aui-grid;
}

/* Grouped buttons go into toolbar style */
.aui-buttons .aui-button:focus,
.aui-buttons .aui-button:hover,
.aui-buttons .aui-button:active {
    border-color: @aui-button-default-disabled-text-color;
}
.aui-buttons .aui-button[disabled],
.aui-buttons .aui-button[disabled]:hover,
.aui-buttons .aui-button[disabled]:focus,
.aui-buttons .aui-button[disabled]:active,
.aui-buttons .aui-button[aria-disabled="true"],
.aui-buttons .aui-button[aria-disabled="true"]:hover,
.aui-buttons .aui-button[aria-disabled="true"]:focus,
.aui-buttons .aui-button[aria-disabled="true"]:active {
    border-color: @aui-button-default-disabled-border-color;
}


/* Grouped Primary Buttons */

/* Primary Buttons */
.aui-buttons .aui-button.aui-button-primary {
    #aui.gradient.vertical(@aui-button-grouped-primary-bg-color-start, @aui-button-grouped-primary-bg-color-end);
    border-color: @aui-button-grouped-primary-border-color;
    color: @aui-button-grouped-primary-text-color;
    text-shadow: none;
}

.aui-buttons .aui-button ~ .aui-button {
    border-left-width: 0;
    padding-left: @aui-grid + 1;
}

.aui-buttons .aui-button.aui-button-primary:hover,
.aui-buttons .aui-button.aui-button-primary:focus,
.aui-buttons .aui-button.aui-button-primary:active {
    border-color: @aui-button-grouped-primary-active-border-color;
    color: @aui-button-grouped-primary-active-text-color;
}

.aui-buttons .aui-button ~ .aui-button:hover,
.aui-buttons .aui-button ~ .aui-button:focus,
.aui-buttons .aui-button ~ .aui-button:active {
    border-width: @aui-button-border-width;
    margin-left: -(@aui-button-border-width);
    position: relative;
}

/* Selected buttons - NOT supported for free-standing primary buttons
ARIA usage from http://www.paciellogroup.com/blog/misc/ARIA/togglebutton.html */
.aui-button[aria-pressed="true"],
.aui-buttons .aui-button[aria-pressed="true"],
.aui-buttons .aui-button[aria-pressed="true"].aui-button-primary,
.aui-buttons .aui-button[aria-pressed="true"].aui-button-subtle {
    #aui.gradient.vertical(@aui-button-grouped-selected-bg-color-start, @aui-button-grouped-selected-bg-color-end, 0%, 13%);
}

.aui-button[aria-pressed="true"].aui-button-subtle,
.aui-buttons .aui-button[aria-pressed="true"].aui-button-subtle {
    color: @aui-button-default-text-color;
    border-color: @aui-button-default-border-color;
}

.aui-buttons .aui-button[aria-pressed="true"]:active {
    #aui.shadow.inner(@aui-button-active-inner-shadow-x @aui-button-active-inner-shadow-y @aui-button-active-inner-shadow-blur @aui-button-active-inner-shadow-spread @aui-button-active-inner-shadow-color);
    background: @aui-button-default-active-bg-color;
}


/* Disabled states (keep last to avoid excessive selector weight)
---------------------------------------------------------------------- */
.aui-button[disabled],
.aui-button[disabled]:hover,
.aui-button[disabled]:focus,
.aui-button[disabled]:active,
.aui-button[aria-disabled="true"],
.aui-button[aria-disabled="true"]:hover,
.aui-button[aria-disabled="true"]:focus,
.aui-button[aria-disabled="true"]:active,
.aui-button[aria-disabled="true"][aria-pressed] {
    #aui.gradient.vertical(@aui-button-default-disabled-bg-color-start, @aui-button-default-disabled-bg-color-end);
    border-color: @aui-button-default-disabled-border-color;
    box-shadow: none;
    color: @aui-button-default-disabled-text-color;
    cursor: default;
    text-shadow: none;
}

/* Subtle buttons have their own disabled state*/
.aui-button.aui-button-subtle[disabled],
.aui-button.aui-button-subtle[aria-disabled="true"] {
    border: 0;
    background: none;
}

.aui-button.aui-button-primary[disabled],
.aui-button.aui-button-primary[disabled]:hover,
.aui-button.aui-button-primary[disabled]:focus,
.aui-button.aui-button-primary[disabled]:active,
.aui-button.aui-button-primary[aria-disabled="true"],
.aui-button.aui-button-primary[aria-disabled="true"]:hover,
.aui-button.aui-button-primary[aria-disabled="true"]:focus,
.aui-button.aui-button-primary[aria-disabled="true"]:active {
    #aui.gradient.vertical(@aui-button-primary-disabled-bg-color-start, @aui-button-primary-disabled-bg-color-end);
    border-color: @aui-button-primary-disabled-border-color;
    box-shadow:none;
    color: @aui-button-primary-disabled-text-color;
    text-shadow: none;
}

.aui-button.aui-button-link[disabled],
.aui-button.aui-button-link[disabled]:hover,
.aui-button.aui-button-link[disabled]:focus,
.aui-button.aui-button-link[disabled]:active,
.aui-button.aui-button-link[aria-disabled="true"],
.aui-button.aui-button-link[aria-disabled="true"]:hover,
.aui-button.aui-button-link[aria-disabled="true"]:focus,
.aui-button.aui-button-link[aria-disabled="true"]:active {
    background: transparent;
    border-color: transparent;
    color: @aui-button-default-disabled-text-color;
    text-shadow: none;
    text-decoration: none;
}

.aui-buttons .aui-button.aui-button-primary[disabled],
.aui-buttons .aui-button.aui-button-primary[disabled]:hover,
.aui-buttons .aui-button.aui-button-primary[disabled]:focus,
.aui-buttons .aui-button.aui-button-primary[disabled]:active,
.aui-buttons .aui-button.aui-button-primary[aria-disabled="true"],
.aui-buttons .aui-button.aui-button-primary[aria-disabled="true"]:hover,
.aui-buttons .aui-button.aui-button-primary[aria-disabled="true"]:focus,
.aui-buttons .aui-button.aui-button-primary[aria-disabled="true"]:active {
    #aui.gradient.vertical(@aui-button-grouped-primary-disabled-bg-color-start, @aui-button-grouped-primary-disabled-bg-color-end);
    border-color: @aui-button-grouped-primary-disabled-border-color;
    color: @aui-button-grouped-primary-disabled-text-color;
    text-shadow: none;
}

/* Cross-component integration
---------------------------------------------------------------------- */
/* Icons Integration
--------------------- */

.aui-button.aui-button-compact .aui-icon {
    margin-top: -1px; /* icon is 1px off, adjust it so it is centered */
}

/* Icon Colours
---------- */
.aui-button.aui-button-primary .aui-icon {
    color: @aui-button-primary-active-icon-color;
}

.aui-button .aui-icon {
    color: @aui-button-default-active-icon-color;
}

.aui-button[disabled] .aui-icon  {
    color: @aui-button-default-disabled-icon-color;
}

.aui-button[disabled].aui-button-primary .aui-icon  {
    color: @aui-button-primary-disabled-icon-color;
}

.aui-buttons .aui-button.aui-button-primary .aui-icon {
    color: @aui-button-grouped-primary-icon-color;
}

.aui-buttons .aui-button[disabled].aui-button-primary .aui-icon  {
    color: @aui-button-grouped-primary-disabled-icon-color;
}

.aui-buttons .aui-button[disabled] .aui-icon  {
    color: @aui-button-grouped-default-disabled-icon-color;
}


/* Dropdown2 button integration
---------- */
.aui-button.aui-dropdown2-trigger:first-child.active,
.aui-button.aui-dropdown2-trigger.active {
    /* square off bottom corners */
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-width: 0; /* avoid double border when the dropdown is active - increase padding to cater for this reduction */
    padding-bottom: 5px; /* increase the padding to cater for the lack of border so the button doesn't change size */
}
.aui-button-link.aui-dropdown2-trigger:first-child.active,
.aui-button-link.aui-dropdown2-trigger.active {
    border-bottom-width: 1px;
    box-shadow: none;
    padding-bottom: 5px;
}

.aui-buttons .aui-button.aui-button-subtle.aui-dropdown2-trigger.active,
.aui-button.aui-button-subtle.aui-dropdown2-trigger.active {
    border-color: @aui-button-subtle-border-color;
}
.aui-button.aui-button-subtle.aui-dropdown2-trigger:hover {
    border-color: @aui-button-subtle-dropdown2-trigger-arrow-color;
}

.aui-button.aui-dropdown2-trigger {
    padding-right: 23px !important; /* 8px (arrow width) + 10px (right padding) + 5px (margin between arrow and logo) */
    position: relative;
}

/* Compact Dropdown2 Trigger */
.aui-button.aui-button-compact.aui-dropdown2-trigger {
    padding-right: 21px !important; /* 8px (arrow width) + 8px (right padding) + 5 (margin between arrow and logo) */
}

.aui-button.aui-button-compact.aui-dropdown2-trigger:after {
    margin-left: -16px; /*  Override the margin-left from below for to compensate for the smaller padding-right */
}

.aui-button.aui-button-compact.aui-dropdown2-trigger:after {
    top: 11px; /* position the top of the arrow in the middle - 26px (height) / 2 (halfway) - 2 (arrow height) */
}
/* adjust padding for smaller height */
.aui-button.aui-dropdown2-trigger.aui-button-compact:first-child.active,
.aui-button.aui-dropdown2-trigger.aui-button-compact.active {
    padding-bottom: 3px; /* increase the padding to cater for the lack of border so the button doesn't change size */
}

/* End Compact Dropdown2 Trigger */

/* Arrowless dropdown2 trigger */
.aui-button.aui-dropdown2-trigger-arrowless {
    padding-right:10px !important;
}

.aui-button.aui-button-compact.aui-dropdown2-trigger-arrowless {
    padding-right:8px !important;
}

.aui-button.aui-dropdown2-trigger-arrowless:after {
    display:none;
}
/* end Arrowless dropdown2 trigger */


.aui-button.aui-dropdown2-trigger:after {
    border: 4px solid transparent;
    content: "";
    height: 0;
    left: 100%; /* "left" + "margin-left" required because of webkit not working properly with "right" */
    margin-left: -18px; /* push the arrow back inside the button */
    margin-top: -2px;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    width: 0;
}
.aui-button.aui-dropdown2-trigger:after,
.aui-buttons .aui-button.aui-button-primary.aui-dropdown2-trigger:after {
    border-top-color: @aui-button-default-text-color;
}
.aui-button.aui-button-primary.aui-dropdown2-trigger:after {
    border-top-color: @aui-button-primary-text-color;
}
.aui-button.aui-dropdown2-trigger:hover:after,
.aui-button.aui-dropdown2-trigger.active:after {
    opacity: 1;
}

.aui-button.aui-dropdown2-trigger:after {
    margin-top: 0;  /* make sure no margins intefere with the positioning*/
    top: 13px;  /* position the top of the arrow in the middle - 30px (height) / 2 (halfway) - 2 (arrow height)*/
}

/* suppress old icon pattern for dropdown widget so we don't get double arrows */
.aui-button.aui-dropdown2-trigger > .icon-dropdown,
.aui-button.aui-dropdown2-trigger > .aui-icon-dropdown {
    display: none;
}

/* INPUT does not play with :after - dropdown2 does not support arrow styles for INPUT buttons */
input.aui-button.aui-dropdown2-trigger {
    padding-right: 10px !important; /* someone used important now we're all doomed */
}
input.aui-button.aui-dropdown2-trigger:after {
    display: none;
}

/* Dropdown2-only / Split Button
---------- */
.aui-button.aui-dropdown2-trigger.aui-button-split-more,
.aui-button.aui-dropdown2-trigger.aui-button-split-more.active {
    /* don't touch vertical padding or things jump around, jump around, jump up jump up and get down */
    padding-left: 5px;
    padding-right: 10px;
    text-align: left;
    text-indent: -9999em;
}

/* remove the element border... */
.aui-button-split-main {
    border-right: 0;
}

.aui-button.aui-dropdown2-trigger.aui-button-split-more:hover {
    border-left: 0;
    margin-left: 0;
}

/* ...then replace it with a border on a pseudo element so we can control the height. */
.aui-button.aui-dropdown2-trigger.aui-button-split-more:before {
    border-left: 1px solid @aui-button-default-border-color;
    bottom: 4px;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 4px;
}

/* ...then extend it to full height border on hover */
.aui-button.aui-button-split-main:hover + .aui-button.aui-dropdown2-trigger.aui-button-split-more:before,
.aui-button.aui-dropdown2-trigger.aui-button-split-more.active:hover:before,
.aui-button.aui-dropdown2-trigger.aui-button-split-more.active:before,
.aui-button.aui-dropdown2-trigger.aui-button-split-more:hover:before {
    border-left-color: @aui-button-default-active-border-color; /* dark border for hover. */
    bottom: -1px; /* -1 to pull it out over the border */
    top: -1px; /* -1 to pull it out over the border */
}
/* ...and change the colour on dropdown .active */
.aui-button.aui-dropdown2-trigger.aui-button-split-more.active:before {
    border-left-color: @aui-button-default-border-color; /* lighter border for dropdown-active */
}


/* App Header Buttons and Split Button
---------- */
.aui-header .aui-nav .aui-button,
.aui-header .aui-nav .aui-button-primary {
    margin: 5px 0 0 10px;
}

.aui-header .aui-nav .aui-button-split-main {
    margin-right: 0;
}

/* long selector set required to avoid a jump in non-hover focus */
.aui-header .aui-nav .aui-buttons .aui-button ~ .aui-button:hover,
.aui-header .aui-nav .aui-buttons .aui-button ~ .aui-button:focus,
.aui-header .aui-nav .aui-buttons .aui-button ~ .aui-button:active,
.aui-header .aui-nav .aui-button-split-more {
    margin-left: 0;
}

.aui-header .aui-nav .aui-button-primary,
.aui-header .aui-nav .aui-button-primary:link,
.aui-header .aui-nav .aui-button-primary:visited {
    #aui.gradient.vertical(@aui-header-nav-btn-primary-bg-color-start, @aui-header-nav-btn-primary-bg-color-end);
    #aui.shadow.inner-and-outer();
    border: 0;
    color: @aui-header-nav-btn-primary-text-color;
    line-height: @aui-header-nav-btn-primary-line-height;
    text-shadow: 0 1px 0 @aui-button-primary-text-shadow-color;
}

.aui-header .aui-nav .aui-button.aui-button-primary:focus,
.aui-header .aui-nav .aui-button.aui-button-primary:hover {
    #aui.gradient.vertical(@aui-header-nav-btn-primary-hover-bg-color-start, @aui-header-nav-btn-primary-hover-bg-color-end);
    color: @aui-header-nav-btn-primary-hover-text-color;
}

.aui-header .aui-nav .aui-button.aui-button-primary:active,
.aui-header .aui-nav .aui-button.aui-button-primary.active {
    background-color: @aui-header-nav-btn-primary-active-bg-color;
    background-image: none;
}

.aui-header .aui-nav .aui-buttons .aui-button-primary.aui-dropdown2-trigger:after {
    border-top-color: @aui-header-nav-btn-primary-text-color; // colour of the dropdown arrow
}

.aui-header .aui-button-primary.aui-button-split-main:hover + .aui-button.aui-dropdown2-trigger.aui-button-split-more:before,
.aui-header .aui-button-primary.aui-dropdown2-trigger.aui-button-split-more.active:hover:before,
.aui-header .aui-button-primary.aui-dropdown2-trigger.aui-button-split-more.active:before,
.aui-header .aui-button-primary.aui-dropdown2-trigger.aui-button-split-more:hover:before,
.aui-header .aui-button-primary.aui-dropdown2-trigger.aui-button-split-more:before {
    border-color: @aui-button-primary-split-border-color;
    bottom: 0;
    top: 0;
}
