@import 'imports/global';

/**
 * PAGE LAYOUT
 */
.aui-header,
#footer {
    clear: both;
    float: left;
    width: 100%;
}

#content {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    position: relative;
}

#content:before {
    content: "";
    clear: both;
    display: table;
}

#footer .footer-body a {
    color: @aui-footer-body-link-text-color;
}

#footer .footer-body > ul,
#footer .footer-body > p {
    margin: @aui-grid 0 0 0;
}

#footer .footer-body > ul:first-child,
#footer .footer-body > p:first-child {
    margin: 0;
}

#footer .footer-body > ul {
    display: block;
    font-size: 0;
    list-style: none;
    padding: 0;
}

#footer .footer-body > ul > li {
    display: inline-block;
    font-size: @aui-font-size-small;
    line-height: 1.66666666666667;
    padding: 0;
    white-space: nowrap;
}

#footer .footer-body > ul > li + li {
    margin-left: @aui-grid;
}

#footer .footer-body > ul > li:after {
    content: "\b7"; /* mid dot */
    margin-left: @aui-grid;
    speak: none;
}
#footer .footer-body > ul > li:last-child:after {
    display: none;
}


/**
 * GROUP/ITEM
 */

.aui-group {
    display: table;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

.aui-group > .aui-item {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    margin: 0;
    vertical-align: top;
}

.aui-group > .aui-item + .aui-item {
    padding-left: (@aui-grid * 2);
}

/* defensive header allowance */
.aui-layout .aui-group > header {
    display: table-caption;
}

/* .aui-group-split: two items; alignment is left, then right (splits the layout). */
.aui-group.aui-group-split > .aui-item {
    text-align: right;
}
.aui-group.aui-group-split > .aui-item:first-child {
    text-align: left;
}

/* .aui-group-trio: three items; alignment is left, center, right */
.aui-group.aui-group-trio > .aui-item {
    text-align: left;
}
.aui-group.aui-group-trio > .aui-item + .aui-item {
    text-align: center;
}
.aui-group.aui-group-trio > .aui-item + .aui-item + .aui-item {
    text-align: right;
}

/**
 * DEFAULT THEME SPACING
 */

#content {
    margin: 0;
    padding: 0;
}

/**
 * PAGE DESIGN
 */
body {
    background: @aui-background-color;
    color: @aui-text-color;
}

a {
    color: @aui-link-color;
    text-decoration: @aui-link-decoration;
}
a:focus,
a:hover,
a:active {
    text-decoration: @aui-link-decoration-active;
}

#footer .footer-body {
    color: @aui-footer-body-text-color;
    font-size: @aui-font-size-small;
    line-height: 1.66666666666667;
    margin: (@aui-grid * 2) 0;
    padding: 0 @aui-grid (@aui-grid * 2 + 1) @aui-grid;
    min-height: 44px; /* margin + height of image, means footer is just as high if no footer link present */
    text-align: center;
}


/**
 * CONTENT PANEL
 */
#content > .aui-panel {
    background: @aui-panel-bg-color;
    margin: (@aui-grid * 2) 0 0 0;
    padding: (@aui-grid * 2);
    border-color: @aui-border-color;
    border-style: @aui-border-style;
    border-width: @aui-border-width 0;
}

#content > .aui-page-header {
    padding: (@aui-grid * 2);
}
#content > .aui-page-header + .aui-panel {
    margin-top: 0;
}

#content > .aui-page-header:first-child {
    margin-top: 0;
}
.aui-panel + .aui-panel {
    margin-top: (@aui-grid * 2);
}

/*! AUI Page Panel */
.aui-page-panel {
    background: @aui-panel-bg-color;
    border: @aui-border-width @aui-border-type @aui-border-color;
    border-left-width: 0;
    border-right-width: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    display: block;
    margin: (@aui-grid * 2) 0 0 0;
    padding: 0;
    position: relative;
    width: 100%;
}
.aui-page-panel-inner {
    border-spacing: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
}
.aui-page-panel-nav,
.aui-page-panel-content,
.aui-page-panel-item,
.aui-page-panel-sidebar {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    padding: (@aui-grid * 2);
    vertical-align: top;
}
.aui-page-panel-nav {
    border-right: @aui-border-width @aui-border-type @aui-border-color;
    width: @aui-page-nav-width;
}
.aui-page-panel-sidebar {
    width: @aui-page-sidebar-width;
}
.aui-page-panel-item {
    padding: 0;
}
.aui-page-panel-nav ~ .aui-page-panel-sidebar {
    width: (@aui-page-sidebar-width - 5);
}
/* Page Panel Interops */
.aui-page-header + .aui-page-panel,
.aui-navbar + .aui-page-panel {
    margin-top: 0;
}
.aui-navbar + .aui-page-panel {
    border-top: none;
}
.aui-page-panel-nav > .aui-nav-vertical {
    margin-left: -(@aui-grid);
    margin-right: -(@aui-grid);
}

/**
 * Page variations
 */
.aui-page-focused .aui-page-header,
.aui-page-focused .aui-page-panel,
.aui-page-focused #footer .footer-body,
.aui-page-fixed .aui-header-inner,
.aui-page-fixed .aui-page-header-inner,
.aui-page-fixed .aui-navgroup-horizontal .aui-navgroup-inner,
.aui-page-fixed .aui-page-panel-inner,
.aui-page-fixed #footer .footer-body,
.aui-page-hybrid .aui-page-header,
.aui-page-hybrid .aui-navgroup-horizontal .aui-navgroup-inner,
.aui-page-hybrid .aui-page-panel-inner,
.aui-page-hybrid #footer .footer-body {
    margin-left: auto;
    margin-right: auto;
    width: @aui-page-width-large;
}

/* extra width so left edge of hoverable content aligns with left edge of content while inactive. On hover, the hover affordance does extend outside the alignment but this looks better than the other way around. */
.aui-page-fixed .aui-header-inner,
.aui-page-fixed .aui-navgroup-horizontal .aui-navgroup-inner,
.aui-page-hybrid .aui-navgroup-horizontal .aui-navgroup-inner {
    width: (@aui-page-width-large + (@aui-grid * 2));
}

.aui-page-focused-small .aui-page-header,
.aui-page-focused-small .aui-page-panel,
.aui-page-focused-small #footer .footer-body {
    width: @aui-page-width-small;
}
.aui-page-focused-medium .aui-page-header,
.aui-page-focused-medium .aui-page-panel,
.aui-page-focused-medium #footer .footer-body {
    width: @aui-page-width-medium;
}
.aui-page-focused-large .aui-page-header,
.aui-page-focused-large .aui-page-panel,
.aui-page-focused-large #footer .footer-body {
    width: @aui-page-width-large;
}
.aui-page-focused-xlarge .aui-page-header,
.aui-page-focused-xlarge .aui-page-panel,
.aui-page-focused-xlarge #footer .footer-body {
    width: @aui-page-width-xlarge;
}


.aui-page-focused .aui-page-panel {
    border-width: @aui-border-width;
    border-radius: @aui-border-radius-medium;
}

.aui-page-fixed .aui-page-panel-inner,
.aui-page-fixed #content > .aui-page-header {
    padding-left: 0;
    padding-right: 0;
}

.aui-page-fixed .aui-page-panel-nav:first-child,
.aui-page-fixed .aui-page-panel-content:first-child,
.aui-page-fixed .aui-page-panel-item:first-child,
.aui-page-fixed .aui-page-panel-sidebar:first-child,
.aui-page-hybrid .aui-page-panel-nav:first-child,
.aui-page-hybrid .aui-page-panel-content:first-child,
.aui-page-hybrid .aui-page-panel-item:first-child,
.aui-page-hybrid .aui-page-panel-sidebar:first-child {
    padding-left: 0;
}
.aui-page-fixed .aui-page-panel-nav:last-child,
.aui-page-fixed .aui-page-panel-content:last-child,
.aui-page-fixed .aui-page-panel-item:last-child,
.aui-page-fixed .aui-page-panel-sidebar:last-child,
.aui-page-hybrid .aui-page-panel-nav:last-child,
.aui-page-hybrid .aui-page-panel-content:last-child,
.aui-page-hybrid .aui-page-panel-item:last-child,
.aui-page-hybrid .aui-page-panel-sidebar:last-child {
    padding-right: 0;
}

/* reset to 100% inside page panel */
.aui-page-panel .aui-page-header {
    width: auto;
}
.aui-page-panel .aui-page-header-inner {
    width: 100%;
}


/**
 * TABS AS FIRST CHILD IN CONTENT
 * Explicitly sets bg to white, changes horizontal hovers to work on grey.
 * Remember these extend the standard component styles.
 */

#content > .aui-tabs {
    margin: (@aui-grid * 2);
    background: transparent;
}

#content > .aui-tabs > .tabs-pane {
    padding: (@aui-grid * 2);
}

#content > .aui-tabs.horizontal-tabs > .tabs-pane {
    border: @aui-border-width @aui-border-type @aui-border-color;
    border-top: none;
    border-radius: 0 0 @aui-border-radius-small @aui-border-radius-small;
    background: @aui-panel-bg-color;
}

#content > .aui-tabs.horizontal-tabs > .tabs-menu {
    display: table; /* stops a gap appearing */
}

/**
 * AUI Forms inside of a focused page
 */

.aui-page-focused .aui-page-panel-content > h2:first-child {
    border-bottom: @aui-border-width @aui-border-type @aui-border-color;
    margin-bottom: (@aui-grid * 2);
    padding-bottom: (@aui-grid * 2);
}

.aui-page-focused .aui-page-panel-content > form.aui .buttons-container {
    border-top: @aui-border-width @aui-border-type @aui-border-color;
    margin-top: (@aui-grid * 2);
    padding-top: (@aui-grid * 2);
}
