@import 'imports/global';
@import 'imports/colors';

@aui-notification-error-color: @adg-color-warm-red;
@aui-notification-error-text-color: @adg-color-white;

@aui-notification-info-color: @adg-color-white;
@aui-notification-info-border-color: @adg-color-medium-gray-3;
@aui-notification-info-icon-color: @adg-color-medium-gray;
@aui-notification-info-text-color: @adg-color-charcoal;

@aui-notification-arrow-border: 1px;

@aui-notification-arrow-size: 5px;
@aui-notification-arrow-and-border-size: @aui-notification-arrow-size + @aui-notification-arrow-border;
@aui-notification-arrow-bottom-right-position: 10px;

@aui-notification-tipsy-padding: 4px;
@aui-notification-tipsy-inner-padding: 10px;

@aui-notification-list-padding: 20px;

@aui-notification-icon-offset-top: 4px;
@aui-notification-icon-offset-right: 2px;


.aui-form-notification-icon-error {
    color: @aui-notification-error-color;
}

.tipsy {
    &.aui-form-notification-tooltip-error {
        .tipsy-arrow-n {
            border-bottom-color: @aui-notification-error-color;
        }

        .tipsy-arrow-s {
            border-top-color: @aui-notification-error-color;
        }

        .tipsy-arrow-w {
            border-right-color: @aui-notification-error-color;
        }

        .tipsy-inner {
            background-color: @aui-notification-error-color;
            color: @aui-notification-error-text-color;
        }
    }

    &.aui-form-notification-tooltip-info {
        .tipsy-arrow-n {
            border-bottom-color: @aui-notification-info-color;
        }

        .tipsy-arrow-s {
            border-top-color: @aui-notification-info-color;
        }

        .tipsy-arrow-w {
            border-right-color: @aui-notification-info-color;
        }

        .tipsy-inner {
            background-color: @aui-notification-info-color;
            border: 1px solid @aui-notification-info-border-color;
            color: @aui-notification-info-text-color;
        }

        //Give the arrow a border colour with pseudo elements
        &:before {
            content: '';
            height: 0;
            position: absolute;
            width: 0;
        }

        &.tipsy-ne:before {
            border-bottom: @aui-notification-arrow-and-border-size @aui-notification-info-border-color solid;
            border-left: @aui-notification-arrow-and-border-size transparent dashed;
            border-right: @aui-notification-arrow-and-border-size transparent dashed;
            border-top: none;
            margin-top: -@aui-notification-arrow-border;
            right: @aui-notification-arrow-bottom-right-position - @aui-notification-arrow-border;
            top: 0;
        }

        &.tipsy-se:before {
            border-bottom: none;
            border-left: @aui-notification-arrow-and-border-size transparent dashed;
            border-right: @aui-notification-arrow-and-border-size transparent dashed;
            border-top: @aui-notification-arrow-and-border-size @aui-notification-info-border-color solid;
            margin-top: -(@aui-notification-tipsy-padding + @aui-notification-arrow-border);
            right: @aui-notification-arrow-bottom-right-position - @aui-notification-arrow-border;
            top: 100%;
        }

        &.tipsy-w:before {
            border-bottom: @aui-notification-arrow-and-border-size transparent dashed;
            border-left: none;
            border-right: @aui-notification-arrow-and-border-size @aui-notification-info-border-color solid;
            border-top: @aui-notification-arrow-and-border-size transparent dashed;
            left: -@aui-notification-arrow-and-border-size + @aui-notification-tipsy-padding;
            margin-top: -@aui-notification-arrow-and-border-size;
            top: 50%;
        }
    }

    //Resize all notification tipsy arrows slightly
    &.aui-form-notification-tooltip {
        .tipsy-arrow-n {
            border-width: @aui-notification-arrow-size;
            margin-top: 0;
            right: @aui-notification-arrow-bottom-right-position;
        }

        .tipsy-arrow-s {
            border-width: @aui-notification-arrow-size;
            margin-top: -@aui-notification-arrow-size;
            right: @aui-notification-arrow-bottom-right-position;
        }

        .tipsy-arrow-w {
            border-width: @aui-notification-arrow-size;
            margin-top: -@aui-notification-arrow-size;
        }

        padding: @aui-notification-tipsy-padding;

        //Stacked messages
        ul {
            padding-left: @aui-notification-list-padding;
        }
        .tipsy-inner {
            padding: @aui-notification-tipsy-inner-padding;
            text-align: left;
        }
    }
}

//Info icon colour
.aui-form-notification-icon-info {
    color: @aui-notification-info-icon-color;
}
//Icons outside fields
.aui-form-notification-icon-outside-field {
    margin-left: @aui-notification-icon-offset-right;
    margin-top: @aui-notification-icon-offset-top;
    vertical-align: top;
}