@import 'imports/global';

.aui-layer {
    background-color: transparent;
    position: fixed;
    z-index: 3000;
    top: 100px; /* ADG default */

    height: 80%; /* Fallback for older browsers */
    #aui.height-calc("100% - 200px");
}

.aui-layer-centered-x {
    /* Assumes an explicit width is set */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.aui-layer[aria-hidden="true"] {
    display: none;
}