#aui {
    .animation(@animation) {
        -webkit-animation: @animation;
        -moz-animation: @animation;
        -o-animation: @animation;
        animation: @animation;
    }

    .border-radius(@radius) {
        -webkit-border-radius: @radius;
        -moz-border-radius: @radius;
        border-radius: @radius;
    }

    .box-sizing(@sizing: border-box) {
        -moz-box-sizing: @sizing;
        box-sizing: @sizing;
    }

    .gradient {
        .vertical(@start-color: #fff, @end-color: #f2f2f2, @start-percent: 0%, @end-percent: 100%) {
            background: @end-color;
            background: -webkit-linear-gradient(top, @start-color @start-percent, @end-color @end-percent);
            background: linear-gradient(to bottom, @start-color @start-percent, @end-color @end-percent);
        }
    }

    .rotate(@angle) {
        -webkit-transform: rotate(@angle);
        -moz-transform: rotate(@angle);
        -ms-transform: rotate(@angle);
        -o-transform: rotate(@angle);
        transform: rotate(@angle);
    }

    .shadow {
        .inner(@inner: 0 1px 0 0 rgba(255, 255, 255, 0.1) inset) {
            -webkit-box-shadow: @inner;
            -moz-box-shadow: @inner;
            box-shadow: @inner;
        }

        .outer(@outer: 0 1px 1px 0 rgba(0, 0, 0, 0.2)) {
            -webkit-box-shadow: @outer;
            -moz-box-shadow: @outer;
            box-shadow: @outer;
        }

        .inner-and-outer(@inner: 0 1px 0 0 rgba(255, 255, 255, 0.1) inset, @outer: 0 1px 1px 0 rgba(0, 0, 0, 0.2)) {
            -webkit-box-shadow: @inner, @outer;
            -moz-box-shadow: @inner, @outer;
            box-shadow: @inner, @outer;
        }
    }

    .text-truncate() {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .transition(@transition) {
        -webkit-transition: @transition;
        -moz-transition: @transition;
        -ms-transition: @transition;
        -o-transition: @transition;
        transition: @transition;
    }

    .transition-delay(@delay) {
        -webkit-transition-delay: @delay;
        -moz-transition-delay: @delay;
        -o-transition-delay: @delay;
        -ms-transition-delay: @delay;
        transition-delay: @delay;
    }

    .height-calc(@calc) {
        height: ~"-webkit-calc(@{calc})";
        height: ~"calc(@{calc})";
    }
}
